body{
    width: 90%;
    margin: auto;
    text-align: center;
}
#root{
    border-radius: 10px;
    background-color: hsl(200, 70%, 80%);
    padding: 20px;
}
.card{
    background-color: hsl(15, 70%, 50%);
    display: inline-block;
    margin: 20px;
    width: 190px;

    .date{
        background-color: hsl(15, 70%, 70%);
        padding: 5px;
    }

    .img{
        display: flex;
        flex-direction: row;
        justify-content: center;;
        align-items: center;
        img{
            margin-top: 5px;
            margin-right: 8px;
        }
    }

    .info{
        color: white;
    }
}

.main-card{
    #temperature{
        img{
            height: 70px;
            width: 70px;
            margin-right: 10px;
        }
        span{
            margin: 0px;
        }
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

form{
    input[type=text]{
        border: none;
        margin-right: 10px;
        padding: 10px;
    }
    button{
        border: none;
        background-color: hsl(200, 70%, 30%);
        padding: 10px;
        color: white;
    }
    button:hover{
        cursor:pointer;
    }
}