body{
    width: 90%;
    margin: auto;
    text-align: center;
}
#root{
    border-radius: 10px;
    background-color: hsl(200, 70%, 80%);
    padding: 20px;
}
.card{
    background-color: #f88;
    display: inline-block;
    margin: 20px;
    width: 190px;
}